<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Solicitações</title>
    <link rel="stylesheet" href="public/historico.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Usuário Solicitante</th>
                <th>Codigo</th>
                <th>Descrição do Produto</th>
                <th>Data</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% solicitudes.forEach(function(solicitacao) { %>
                <tr>
                    <td><%= solicitacao.usuario_solicitante %></td>
                    <td><%= solicitacao.codigo %></td>
                    <td><%= solicitacao.descricao %></td>
                    <td><%= solicitacao.data %></td>
                    <td>
                        <% if (solicitacao.codigo) { %>
                            Finalizado
                        <% } else { %>
                            Pendente
                        <% } %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <form>
        <button type="button" onclick="voltarParaMenu()">Voltar</button>
        <script>
            function voltarParaMenu() {
                window.location.href = '/menu'; // Redireciona para a rota '/menu'
            }
        </script>
    </form>
</body>
</html>
